<div class="skeleton-container skeleton-container--cart container">
  <div class="row">
    <div class="skeleton skeleton__full-width">
      <div class="skeleton-top">
        <div class="square"></div>
      </div>
      <div class="skeleton-bottom">
        <div class="line h17 w40 m10"></div>
        <div class="line"></div>
        <div class="line h8 w50"></div>
        <div class="line  w75"></div>
      </div>
    </div>
  </div>
</div>