<div class="skeleton-container skeleton-container--collection container">
  <h3 class="skeleton-container-title">Most Popular in this Collection</h3>
  <div class="row">
    <div class="skeleton">
      <div class="skeleton-top">
        <div class="square"></div>
      </div>
      <div class="skeleton-bottom">
        <div class="line h17 w40 m10"></div>
        <div class="line"></div>
        <div class="line h8 w50"></div>
        <div class="line  w75"></div>
      </div>
    </div>
    <div class="skeleton">
      <div class="skeleton-top">
        <div class="square"></div>
      </div>
      <div class="skeleton-bottom">
        <div class="line h17 w40 m10"></div>
        <div class="line"></div>
        <div class="line h8 w50"></div>
        <div class="line  w75"></div>
      </div>
    </div>
    <div class="skeleton">
      <div class="skeleton-top">
        <div class="square"></div>
      </div>
      <div class="skeleton-bottom">
        <div class="line h17 w40 m10"></div>
        <div class="line"></div>
        <div class="line h8 w50"></div>
        <div class="line  w75"></div>
      </div>
    </div>
    <div class="skeleton">
      <div class="skeleton-top">
        <div class="square"></div>
      </div>
      <div class="skeleton-bottom">
        <div class="line h17 w40 m10"></div>
        <div class="line"></div>
        <div class="line h8 w50"></div>
        <div class="line  w75"></div>
      </div>
    </div>
    <div class="skeleton">
      <div class="skeleton-top">
        <div class="square"></div>
      </div>
      <div class="skeleton-bottom">
        <div class="line h17 w40 m10"></div>
        <div class="line"></div>
        <div class="line h8 w50"></div>
        <div class="line  w75"></div>
      </div>
    </div>
    <div class="skeleton">
      <div class="skeleton-top">
        <div class="square"></div>
      </div>
      <div class="skeleton-bottom">
        <div class="line h17 w40 m10"></div>
        <div class="line"></div>
        <div class="line h8 w50"></div>
        <div class="line  w75"></div>
      </div>
    </div>
    <div class="skeleton">
      <div class="skeleton-top">
        <div class="square"></div>
      </div>
      <div class="skeleton-bottom">
        <div class="line h17 w40 m10"></div>
        <div class="line"></div>
        <div class="line h8 w50"></div>
        <div class="line  w75"></div>
      </div>

    </div>
    <div class="skeleton">
      <div class="skeleton-top">
        <div class="square"></div>
      </div>
      <div class="skeleton-bottom">
        <div class="line h17 w40 m10"></div>
        <div class="line"></div>
        <div class="line h8 w50"></div>
        <div class="line  w75"></div>
      </div>
    </div>
    <div class="skeleton">
      <div class="skeleton-top">
        <div class="square"></div>
      </div>
      <div class="skeleton-bottom">
        <div class="line h17 w40 m10"></div>
        <div class="line"></div>
        <div class="line h8 w50"></div>
        <div class="line  w75"></div>
      </div>
    </div>
  </div>
</div>